[defaults]
inventory = inventory/
private_key_file = ~/.ssh/id_ed25519
remote_user = bernz
host_key_checking = False
interpreter_python = auto_silent
roles_path = ~/ansible/roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root
